<h2><%=h session.text %></h2>
<ul>
<%
last_group = nil
session.result.each_slice(30) do |ary|
  ary.each do |v|
    group = v[:name]
    if group != last_group %>
        <li class="group"><%=h group %></li>
<%    last_group = group
    end
    url = "http://www.pokemon-card.com" + v[:path]
    base = context.req_script_name.to_s
    img = base + (v[:illust].sub(/large/, 'thumb'))
%>      <li><a href="<%= url %>"><img src="<%= img %>" /></a><%=h v.inspect %><p></p></li><%
  end
  break
end
%>
</ul>
